---
- name: Install Operators
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('kubernetes.core.kustomize', dir = kustomize_dir ~ '/operators') }}"
    validate_certs: false

- name: Wait for operators to be ready
  kubernetes.core.k8s_info:
    namespace: "{{ operator_namespace }}"
    kind: Pod
    wait: true
    wait_timeout: 600
    wait_condition:
      type: Ready
      status: 'True'
  loop_control:
    loop_var: operator_namespace
  loop:
    - nvidia-gpu-operator
    - nvidia-network-operator
    - openshift-nfd

- name: Create BCM agent namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: bcm-agent
    state: present

- name: Create BCM bootstrap certificate secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ bcm_agent_secret_name }}"
        namespace: bcm-agent
      type: Opaque
      data:
        cacert.pem: "{{ bcm_agent_cacert | b64encode }}"
        cert.pem: "{{ bcm_agent_cert | b64encode }}"
        cert.key: "{{ bcm_agent_cert_key | b64encode }}"

- name: Get resources from helm
  ansible.builtin.shell: |
    helm template bcm-agent {{ helm_charts_dir }}/bcm-agent --namespace bcm-agent --set image.repository={{ bcm_agent_image_repo }} --set image.tag={{ bcm_agent_image_tag }}  --set config.bcm.host={{ bcm_agent_host }} --set config.bcm.port={{ bcm_agent_port }} --set certificates.secretName={{ bcm_agent_secret_name }}
  register: bcm_agent_resources
  changed_when: false

- name: Create resources for BCM agent
  kubernetes.core.k8s:
    state: present
    definition: "{{ bcm_agent_resources.stdout }}"
